{% extends 'layout/menu.html' %}
{% block content %}
   <h1>Crear Movimiento Diario</h1>
   <h2>Seleccionar Alumno: </h2>   
    
   <form method="POST">
       {% csrf_token %}
       {{ form.non_field_errors }}
       
       <div>
           <label for="alumno">Seleccionar Alumno:</label>
           <select name="alumno" id="alumno">
               <option value="">-- Seleccione un Alumno --</option>
               {{ alumnos }}
               {% for alumno in alumnos %}
                   <option value="{{ alumno.id }}">
                       {{ alumno.nombres }} {{ alumno.apellido }} - Curso: {{ alumno.curso.name|default:"Sin curso" }}
                   </option>
               {% endfor %}  
               {{ alumno_seleccionado.nombres }} {{ alumno_seleccionado.apellido }}
           </select> 
       </div> 
       <button>Seleccionar</button> 
   </form>
   {{ alumno_seleccionado }}
   {% if alumno_seleccionado %}
       {% for proyecto in proyectos_asignados %}
           <p>Proyecto: {{ proyecto.name }}</p>
           {% for tarea in tareas_asignadas %}
               <p>Tarea: {{ tarea.title }}</p>
           {% endfor %}
       {% endfor %}
   {% endif %}
{% endblock %}
