{% extends 'layout/menu.html' %}

{% block content %}
<h2>Actividad de {{ alumno.nombres }} {{ alumno.apellido }}</h2>

<table border="1">
    <thead>
        <tr>
            <th>Tipo de Movimiento</th>
            <th>Curso</th>
            <th>Proyecto</th>
            <th>Tarea</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ movimiento.tipo_movimiento.nombre }}</td>
            
            <!-- Validación para el curso -->
            <td>
                {% if movimiento.curso %}
                    {{ movimiento.curso.name }}
                {% else %}
                    Sin curso
                {% endif %}
            </td>
            
            <!-- Validación para el proyecto -->
            <td>
                {% if movimiento.proyecto %}
                    {{ movimiento.proyecto.name }}
                    {{ movimiento.proyecto.id }}
                {% else %}
                    Sin proyecto
                {% endif %}
            </td>
            
            <!-- Validación para la tarea -->
            <td>
                <!-- {{ tarea_por_proyecto }} -->
               {% for clave, valor in tarea_por_proyecto.items %}
                    <!-- {{ clave }} - {{ valor }} -->
                    {% if clave == movimiento.proyecto_id %} 
                        {% if valor %}
                            {% for tarea in valor %} 
                                <li>{{ tarea.description }}-{{ movimiento.hecho }}</li>

                            {% endfor %}
                        {% endif %}
                    {% endif %}

               {% endfor %}
            </td>

            
            <td>{{ movimiento.fecha_movimiento }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'dashboard' %}" class="btn btn-primary">Volver al Dashboard</a>
{% endblock %}
