{% extends 'layout/menu.html' %}

{% block content %}

    <h1> Crear nueva tarea </h1>

    <p>Contexto de proyectos: {{ proyectos }}</p>

    <p>Proyectos encontrados: {{ proyectos.count }}</p> <!-- Muestra el número de proyectos -->

    <table border='1'>
        <tr>
            {% for project in proyectos %}
                <td>
                    <h3>Proyecto: {{ project.id }} - Nombre: {{ project.name }}</h3>
                </td>
            {% endfor %}
        </tr>
    </table>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button>
            SAVE
        </button>
    </form>

{% endblock %}
