{% extends 'layout/menu.html' %}
{% block content %}
    <h1> Proyectos de estudios </h1>

    {% for course in courses %}
        <h2>Curso: {{ course.name }}</h2>
        <p>Descripción del curso: {{ course.description }}</p>

        {% if course.project_set.all %}
            <h3>Proyectos asignados al curso:</h3>
            {% for project in course.project_set.all %}
                <p><strong>Proyecto {{ forloop.counter }}:</strong></p>
                <p>Nombre del proyecto: {{ project.name }}</p>
                <p>Descripción del proyecto: {{ project.description }}</p>
                <p>ID del Proyecto: {{ project.id }}</p>
                
                <h4>Tareas asignadas al proyecto:</h4>
                {% if project.task_set.all %}
                    <ul>
                        {% for tarea in project.task_set.all %}
                            <li>{{ tarea.title }} - {{ tarea.description }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay tareas asignadas a este proyecto.</p>
                {% endif %}
                <p>---------------------------------------------------------</p>
            {% endfor %}
        {% else %}
            <p>No hay proyectos asignados a este curso.</p>
        {% endif %}
        <hr>
    {% endfor %}

{% endblock %}
