{% extends 'layout/menu.html' %}
{% block content %}
    <h1> Proyectos de estudios </h1>
    <h2>- {{ title }}</h2>

    <h2>{{ project }}</h2>

    {% for project in projects %}

        <p>Nombre del proyecto: {{ project.name }}</p>
        <p>Description del proyecto: {{ project.description }}</p>
        <p>Id del Proyecto: {{ project.id }}</p>
        <p>Curso : {{ project.curso.name }}</p>
        <ul>

        </ul>
        {% for tarea in project.task_set.all %}
            <li>
                {{ tarea.title }}
            </li>
        {% endfor %}
        <p>---------------------------------------------------------</p>
    {% endfor %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eum doloribus ab alias dicta
        perferendis, ullam eligendi soluta ipsam consequatur consequuntur dolore nemo ad, culpa, 
        tenetur hic magnam facere facilis! Velit vel neque molestiae soluta. Neque, voluptas dicta?
        Quae rerum aliquam ea sapiente! Illum voluptas id recusandae architecto velit accusamus 
        aliquam nulla cumque, eveniet vero hic provident et officia quibusdam, esse volupta</p>


{% endblock %}