<nav>
    <table>
        <tr>
            <!-- Cursos -->
            <td>
                <a href="/courses">Cursos</a>
            </td>
            <td>
                <a href="/create_courses">Crear nuevo Curso</a>
            </td>

            <!-- Alumnos -->
            <td>
                <a href="/alumnos">Listado de alumnos</a>
            </td>
            <td>
                <a href="/create_alumno">ALUMNO-CURSO</a>
            </td>

            <!-- Proyectos -->
            <td>
                <a href="/projects">Proyectos</a>
            </td>
            <td>
                <a href="/create_project">Crear nuevo Proyecto</a>
            </td>

            <!-- Tareas -->
            <td>
                <a href="/tasks">Tareas</a>
            </td>
            <td>
                <a href="/create_tasks">Crear nuevas Tareas</a>
            </td>

            <!-- Dashboard y movimientos -->
            <td>
                <a href="/movimiento/dashboard">Dashboard</a>
            </td>
            <td>
                <a href="/movimientos">Movimiento diario del instituto</a>
            </td>
            <td>
                <a href="/consultar_movimientos">Consultar Movimientos</a>
            </td>

            <!-- Otros -->
            <td>
                <a href="/listarTarea">Cursos + Proyectos + Tareas</a>
            </td>
            <td>
                <a href="/">Home-Inicio</a>
            </td>
        </tr>
    </table>
</nav>
{% block content %}
{% endblock %}
