
<nav>
    <ul>
        <li>
            <a href="/">Home-Inicio</a>
        </li>
        <li>
            <a href="/projects">Proyectos</a>
        </li>
        <li>
            <a href="/create_project">Crear nuevo Proyecto</a>
        </li> 
        <li>
            <a href="/alumnos">Listado de alumnos</a>
        </li> 
        <li>
            <a href="/create_alumno">ALUMNO-CURSO</a>
        </li> 

        <li>
            <a href="/tasks">Tareas</a>
        </li>
        <li>
            <a href="/listarTarea">Cursos + Proyectos + Tareas</a>
        </li>
        <li>
            <a href="/courses">Cursos</a> 
        </li>
        
        <li>
            <a href="/create_courses">Crear nuevo Curso</a>
        </li> 
        
        <li>
            <a href="/create_tasks">Crear nuevas Tareas</a>
        </li> 
        
    </ul>
</nav>

{% block content %}
{% endblock %}
